<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Contact")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
	<section class="container about">

		<h1>Contact Us</h1>

		<p>
			If you have any questions about the Mandalar Degree College eLearning Platform, please contact us at elearning.support@mdl.edu.mm. 
		</p>
		<p>
			For training, please visit <a href="https://training.inyaland.com/">training.inyaland.com/</a>
		</p>
	</section>
</main>
