<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Honor Code")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
	<section class="container about">

		<h1>HONOR CODE</h1>

		<h2><b>COLLABORATION POLICY</b></h2>
		<p>By enrolling in a course on National Management Degree College, you are joining a special community of learners. National Management Degree College depends upon your motivation to learn the material and to do so with honesty and academic integrity. In order to participate in National Management Degree College eLearning Platform, you must agree to the Honor Code below and any additional terms specific to a class. This Honor Code, and any additional terms, will be posted on each class website.</p>

		<h2><b>HONOR CODE PLEDGE</b></h2>
		<p>By enrolling in a National Management Degree College eLearning Platform course, I agree that I will:</p>

		<ul>
			<li>
				Complete all tests and assignments on my own, unless collaboration on an assignment is explicitly permitted.
			</li>
			<li>
				Maintain only one user account and not let anyone else use my username and/or password.
			</li>
			<li>
				Not engage in any activity that would dishonestly improve my results, or improve or hurt the results of others.
			</li>
			<li>
				Not post answers to problems that are being used to assess student performance.
			</li>
		</ul>
		<h2><b>VIOLATIONS</b></h2>
		<p>If you are found in violation of the Terms of Service or Honor Code, you may be subject to one or more of the following actions:</p>

		<ul>
			<li>
				Receiving a zero or no credit for an assignment;
			</li>
			<li>
				Having any certificate earned in the course withheld or revoked;
			</li>
			<li>
				Being unenrolled from a course; or
			</li>
			<li>
				Termination of your use of the Site.
			</li>
			<li>
				Additional actions may be taken at the sole discretion of National Management Degree College.
			</li>
		</ul>
		<p>
			No refunds will be issued in the case of any corrective action for such violations.
		</p>
		<p>
			Honor code violations will be determined at the sole discretion of National Management Degree College. You will be notified if a determination has been made that you have violated this honor code and you will be informed of the corresponding action to be taken as a result of the violation.
		</p>
		<h2><b>
			CHANGING THE HONOR CODE
		</b></h2>
		<p>
			Please note that we review and may make changes to this Honor Code from time to time. Any changes to this Honor Code will be effective immediately upon posting on this page, with an updated effective date. By accessing the Site after any changes have been made, you signify your agreement on a prospective basis to the modified Honor Code and any changes contained therein. Be sure to return to this page periodically to ensure familiarity with the most current version of this Honor Code.
		</p>
		<p>
			Effective Date:
			February 21, 2018
		</p>
	</section>
</main>
